*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FAF7FD;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-image {
    margin-left: 1vh;
    margin-top: 15vh;
    padding: 3px;
    border: 1px solid #BB99DD;
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
}

.profile-name{
    height: 5vh;
    width: 5vh;
    color: #BB99DD;
    font-size: 2vh;
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links{
    display: flex;
    list-style-type: none;
    gap: 10px;
    flex-direction: column;
}

.link{
    width: 30vh;
    text-align: center;
    border: 1px solid #BB99DD;
    color: #BB99DD;
    padding-left: 10vh;
    padding-right: 10vh;
    font-family: 'Poppins', sans-serif;
}

.social-media {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
